.git
node_modules
**/node_modules
**/dist
**/dist-android
**/dist-android-*
**/.expo
.env
.env.*
**/.env
**/.env.*
!**/.env.example
*.jks
**/*.jks
**/*.keystore
**/credentials.json
**/service-account*.json
attached_assets
**/*.apk
**/*.aab
**/*.tsbuildinfo
**/android
**/ios
.expo-build-status.json
dist-release

**/dist-android-firebase
docs/screenshots

